{% extends "base.html" %}

{% block content %}
<!-- Restaurant Photos Modal -->
{% if pictures %}
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Restaurant Photos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    {% for pic in pictures %}
                    <div class="col-4">
                        <img src="{{ pic.link }}" class="img-fluid rounded shadow-sm" alt="{{ pic.link }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Reservation Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Book a table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="dateTitle"></h5>
                <form id="reservationForm">
                    <!-- Hidden Field for Date -->
                    <input type="hidden" id="reservation_date">

                    <!-- Dining Table Selection -->
                    <div class="mb-3">
                        <label for="dining_table_id" class="form-label">Dining Table:</label>
                        <select class="form-select shadow-sm" id="dining_table_id" required></select>
                    </div>

                    <!-- Time Slot Selection -->
                    <div class="mb-3">
                        <label for="reservation_time_slot" class="form-label">Reservation Time Slot:</label>
                        <select class="form-select shadow-sm" id="reservation_time_slot" required></select>
                    </div>

                    <!-- Number of People -->
                    <div class="mb-3">
                        <label for="number_of_people" class="form-label">Number of People:</label>
                        <input type="number" min="1" max="20" class="form-control shadow-sm" id="number_of_people"
                            required>
                    </div>

                    <!-- Special Requests -->
                    <div class="mb-3">
                        <label for="special_requests" class="form-label">Special Requests:</label>
                        <textarea class="form-control shadow-sm" id="special_requests" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary px-4 py-2 shadow-sm"
                    data-bs-dismiss='modal'>Close</button>
                <button type='button' onclick='submitReservation("{{ user.id }}", "{{ restaurant.id }}")'
                    class='btn btn-primary px-4 py-2 shadow-sm'>Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class='container pt-5'>
    <div class="d-flex justify-content-around">
        <!-- Restaurant Details -->
        <div>
            <h3>{{ restaurant.name }}</h3>
            <p>{{ restaurant.description }}</p>
            <p><i class='bi bi-geo-alt-fill'></i> {{ restaurant.location_address }}</p>
            {% if pictures %}
            <div class='d-flex align-items-center mb-4'>
                <img src='{{ pictures[0].link }}' alt='{{ pictures[0].picture_link }}'
                    style='max-width: 150px; height: auto;' class='img-thumbnail me-3 shadow-sm'>
                <button type='button' data-bs-toggle='modal' data-bs-target='#photoModal'
                    class='btn btn-primary btn-sm px-4 py-2 fw-bold text-white shadow-sm'>View All Photos</button>
            </div>
            {% endif %}
        </div>
        <div>
            <span class='text-center mb-5'>Choose a date and book your table</span>
            <!-- Calendar Section -->
            <div id='calendar' style='border: 1px solid #ddd; padding: 15px; border-radius: 8px; min-width: 500px;'>
            </div>
        </div>
    </div>

</div>

<!-- Scripts -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

<script>
    // Initialize FullCalendar
    document.addEventListener('DOMContentLoaded', function () {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: { left: 'prev,next today', center: 'title', right: '' },
            events: [],
            dateClick: function (info) {
                const reservationModal = new bootstrap.Modal(document.getElementById('reservationModal'));
                reservationModal.show();
                document.getElementById('dateTitle').textContent = info.dateStr;
                document.getElementById('reservation_date').value = info.dateStr;
                fetchAvailableTablesAndSlots('{{ restaurant.id }}', info.dateStr);
            }
        });
        calendar.render();
    });

    // Fetch Available Tables and Slots
    function fetchAvailableTablesAndSlots(restaurantId, reservationDate) {
        if (restaurantId && reservationDate) {
            fetch(`/customer/api/v1/table/?restaurant_id=${restaurantId}&reservation_date=${reservationDate}`)
                .then(response => response.json())
                .then(data => {
                    const tableSelect = document.getElementById('dining_table_id');
                    const slotSelect = document.getElementById('reservation_time_slot');

                    // Clear previous options
                    tableSelect.innerHTML = '';
                    slotSelect.innerHTML = '';

                    // Populate tables dropdown
                    data.forEach(table => {
                        const option = document.createElement('option');
                        option.value = table.id;
                        option.textContent = `No: ${table.table_number} - Type: ${table.table_type} - Seats: ${table.number_of_seats}`;
                        tableSelect.appendChild(option);
                    });

                    // Add event listener for table selection change
                    tableSelect.addEventListener('change', function () {
                        updateTimeSlots(data, tableSelect.value, slotSelect);
                    });

                    // Trigger change event to populate initial time slots for the first table
                    if (data.length > 0) {
                        tableSelect.dispatchEvent(new Event('change'));
                    }
                });
        }
    }

    // Update Time Slots Based on Selected Table
    function updateTimeSlots(tables, selectedTableId, slotSelect) {
        // Clear previous time slots
        slotSelect.innerHTML = '';

        // Find the selected table and populate its available time slots
        const selectedTable = tables.find(table => table.id == selectedTableId);
        if (selectedTable && selectedTable.available_time_slots) {
            selectedTable.available_time_slots.forEach(slot => {
                const option = document.createElement('option');
                option.value = slot;
                option.textContent = slot;
                slotSelect.appendChild(option);
            });
        }
    }

    // Submit Reservation
    function submitReservation(user_id, restaurant_id) {
        const formData = {
            user_id,
            restaurant_id,
            dining_table_id: document.getElementById('dining_table_id').value,
            number_of_people: document.getElementById('number_of_people').value,
            reservation_time_slot: document.getElementById('reservation_time_slot').value,
            reservation_date: document.getElementById('reservation_date').value,
            special_requests: document.getElementById('special_requests').value
        };

        // Validate form data
        for (const key in formData) {
            if (!formData[key]) {
                alert(`Please fill out the ${key.replace('_', ' ')} field.`);
                return;
            }
        }

        // Submit reservation data to the server
        fetch('/customer/api/v1/reservation/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (response.status === 201) {
                    response.text().then(text => {
                        window.location.href = `/customer/ui/reservation/${text}`;
                    });
                } else {
                    alert(`Error: ${response.statusText}`);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

{% endblock %}