<table class="table">
    <thead>
        <tr>
            <th scope="col">Table number</th>
            <th scope="col">Reservation code</th>
            <th scope="col">Restaurant name</th>
            <th scope="col">Number of people</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Special Requests</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td scop="row">{{reservation.table_number}}</td>
            <td>{{reservation.reservation_code}}</td>
            <td>{{reservation.restaurant_name}}</td>
            <td>{{reservation.number_of_people}}</td>
            <td>{{reservation.reservation_start_time}}</td>
            <td>{{reservation.reservation_end_time}}</td>
            <td>{{reservation.special_requests}}</td>
            <td>
                {% if can_change_status %}
                
                <form action="{{url_for('reservations', id=restaurant_id) }}" method="POST">
                    <input type="hidden" name="reservation_id" value="{{reservation.id}}">
                    <select class="form-select" name="status" onchange="this.form.submit()">
                        {% for status in ["pending","confirmed","cancelled"] %}
                        <option {% if reservation.status == status %}selected{% endif %} value="{{status}}">{{status}}</option>
                        {% endfor %}
                    </select>
                </form>
                {% else %}
                {{reservation.status}}
                {% endif %}
            </td>
            <td>
                <form id="deleteReservation" method="GET">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                    <input type="hidden" id="deleteReservationId" name="reservationId" value="{{reservation.id}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    document.getElementById('deleteReservation').addEventListener('submit', function(e) {
        e.preventDefault();
        var form = e.target;
        var url = '/customer/api/reservations/delete/' + form.querySelector('#deleteReservationId').value;
        fetch(url, {
            method: 'GET'
            })
            .then(response => {
            if (response.status === 200) {
                alert('Reservation deleted successfully');
                window.location.reload();
            } else {
                alert('Failed to delete reservation');
            }
            })
            .catch((error) => {
            console.error('Error:', error);
            });
    });
</script>