{% extends "base.html" %}

{% block content %}
<div class="alert alert-danger alert-dismissible fade show" id="error_alert" style="display: none">
    There was an error during creation.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h2 class="mt-3 mx-2 mb-4">{{ restaurant.name }}</h2>
<span class="mt-3 mx-2 mb-4">{{ restaurant.description }}</span>
<!-- Registered Tables Section -->
<h3 class="mx-2 mb-3 pt-5">Registered Tables:</h3>
<ul class="list-group mx-2" id="tables_list">
    <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">
        <span>Table Number</span>
        <span>Number of Seats</span>
        <span>Table Type</span>
    </li>
    {% for table in tables %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ table.table_number }}</span>
        <span>{{ table.number_of_seats }}</span>
        <span>{{ table.table_type }}</span>
    </li>
    {% endfor %}
</ul>

<!-- Hidden Restaurant ID -->
<span id="restaurant_id" style="display: none">{{ restaurant.id }}</span>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    const API_URL = '{{ API_URL }}';

    // Table Form Submission
    document.getElementById("table_form").addEventListener("submit", async function (event) {
        event.preventDefault();

        const tableNumber = document.getElementById("table_number").value;
        const numberOfSeats = document.getElementById("number_of_seats").value;
        const tableType = document.getElementById("table_type").value;
        const restaurantId = document.getElementById("restaurant_id").textContent;

        const data = {
            table_number: tableNumber,
            number_of_seats: numberOfSeats,
            table_type: tableType,
        };

        try {
            const response = await fetch(`${API_URL}/api/v1/restaurant/${restaurantId}/tables`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data),
            });

            if (!response.ok) {
                const errorText = await response.text();
                displayError(errorText);
            } else {
                this.reset();
                location.reload();
            }
        } catch (error) {
            displayError("An unexpected error occurred.");
        }
    });

    // Display Error Alert
    function displayError(message) {
        const alertBox = document.getElementById("error_alert");
        alertBox.textContent = message;
        alertBox.style.display = "block";
    }
</script>

{% endblock %}